<!DOCTYPE html>
<html>
  <head>
    <title>SeatsTaken</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <% flash.each do |type, msg| %>
    <div class="alert alert-<%="#{type} fade in" %>">
      <button class='close' data-dismiss='alert'>x</button>
      <%= msg %>
    </div>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
 
